body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#333333
}
.container {
    background-color: #333333;
    color:white;
    margin:auto;
    text-align: center;
    font-size:200%;
    /*border: 5px white solid;
    padding-bottom: 10px;*/
}
.heading {
    font-size: 150%;
    text-align: center;

}
.label {
    font-weight:bold;
    text-align: center;
    margin: 50px 0px;
    padding:20px;
    font-size:120%;

}
.headingM {
    color:white;
    text-align: center;
}
.containerMM {
    margin:auto;
}    

.ButtonT {
    width: 50%;
    height: 125px;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:250%;    
    float:left;
    
}   
.ButtonS {
    width: 50%;
    height: 125px;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:250%;
    float:right;

}
.ButtonU {
    width: 100%;
    height:125px;
    margin:auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:250%;
    float:middle;

}
.fail {
    color:white;
    margin:auto;
    text-align: center;
    font-size: 125%;
    

}
.area-left {
    float:left;
    transform: scaleX(-1)
    
}
.area-right {
    float:right;
}
.ButtonSub {
    width: 22.5%;
    height: 75px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:125%;
    font-weight:bold;
    margin:auto;
}
.typefield {
    width: 25%;
    height: 25px;
}
